<?xml version="1.0"?>
<!--
/**
 * Copyright © Marvelic. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Model\GuestPaymentInformationManagement" type="Marvelic\MveRestrictCheckout\Model\GuestPaymentInformationManagement" />
    
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="marvelic_registered_checkout_restriction" type="Marvelic\MveRestrictCheckout\Plugin\PaymentInformationManagementPlugin" sortOrder="10"/>
    </type>
    
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="marvelic_customer_registration_restriction" type="Marvelic\MveRestrictCheckout\Plugin\AccountManagementPlugin" sortOrder="10"/>
    </type>
    
    <virtualType name="Marvelic\MveRestrictCheckout\Model\Config\Source\AddressType">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="delivery" xsi:type="string">Delivery Address</item>
                <item name="billing" xsi:type="string">Billing Address</item>
            </argument>
        </arguments>
    </virtualType>
</config>
