<?xml version="1.0"?>
<!--
/**
 * Copyright © Marvelic. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Marvelic\MveRestrictCheckout\Model\Config\Source\AddressType">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="delivery" xsi:type="string">Delivery Address</item>
                <item name="billing" xsi:type="string">Billing Address</item>
            </argument>
        </arguments>
    </virtualType>
</config>
