<?xml version="1.0"?>
<!--
/**
 * Copyright © Marvelic. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Block order placement for restricted emails -->
    <event name="sales_order_place_before">
        <observer name="marvelic_checkout_restriction" instance="Marvelic\MveRestrictCheckout\Observer\CheckoutRestrictionObserver"/>
    </event>
    
    <!-- Block cart additions for restricted emails -->
    <event name="checkout_cart_product_add_after">
        <observer name="marvelic_cart_restriction" instance="Marvelic\MveRestrictCheckout\Observer\CartRestrictionObserver"/>
    </event>
    
    <!-- Block customer registration for restricted emails/names -->
    <event name="customer_register_success">
        <observer name="marvelic_customer_registration_restriction" instance="Marvelic\MveRestrictCheckout\Observer\CustomerRegistrationObserver"/>
    </event>
    

</config>
