<?xml version="1.0"?>
<!--
/**
 * Copyright © Marvelic. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="marvelic_guest_checkout_restriction" type="Marvelic\MveRestrictCheckout\Plugin\GuestPaymentInformationManagementPlugin" sortOrder="10"/>
    </type>
    
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="marvelic_registered_checkout_restriction" type="Marvelic\MveRestrictCheckout\Plugin\PaymentInformationManagementPlugin" sortOrder="10"/>
    </type>
    
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="marvelic_customer_registration_restriction" type="Marvelic\MveRestrictCheckout\Plugin\AccountManagementPlugin" sortOrder="10"/>
    </type>
</config>
