<?xml version="1.0"?>
<!--
/**
 * Copyright © Marvelic. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mve_restrict_checkout" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout Restriction Settings</label>
            <tab>marvelic</tab>
            <resource>Marvelic_MveRestrictCheckout::config</resource>
            
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the checkout restriction module</comment>
                </field>
                
                <field id="restrict_guest_checkout" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Guest Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Block guest checkout for restricted emails</comment>
                </field>
                
                <field id="restrict_registered_checkout" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Registered Customer Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Block registered customer checkout for restricted emails</comment>
                </field>
                
                <field id="restrict_customer_registration" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Customer Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Block customer registration for restricted emails</comment>
                </field>
                
                <field id="enable_logging" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable logging to var/log/mve_restrict_checkout.log</comment>
                </field>
            </group>
            
            <group id="restricted_emails" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Restricted Email Settings</label>
                
                <field id="blocked_domains" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blocked Email Domains</label>
                    <comment>Add email domains to block (one per line). Example: temp-mail.org, 10minutemail.com, guerrillamail.com</comment>
                </field>
                
                <field id="blocked_emails" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blocked Email Addresses</label>
                    <comment>Add specific email addresses to block (one per line). Example: test@example.com, fake@domain.com, admin@test.com</comment>
                </field>
                
                <field id="blocked_first_names" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blocked First Name Patterns</label>
                    <comment>Add patterns to block in first names (one per line, case insensitive). Example: test, fake, admin, user</comment>
                </field>
                
                <field id="blocked_last_names" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blocked Last Name Patterns</label>
                    <comment>Add patterns to block in last names (one per line, case insensitive). Example: test, fake, admin, user</comment>
                </field>
            </group>
            

            
            <group id="messages" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Error Messages</label>
                
                <field id="guest_checkout_message" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Guest Checkout Error Message</label>
                    <comment>Message shown when guest checkout is blocked</comment>
                    <default>Guest checkout is not allowed for this email address or customer name.</default>
                </field>
                
                <field id="registered_checkout_message" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registered Checkout Error Message</label>
                    <comment>Message shown when registered customer checkout is blocked</comment>
                    <default>Checkout is not allowed for this email address or customer name.</default>
                </field>
                
                <field id="customer_registration_message" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Registration Error Message</label>
                    <comment>Message shown when customer registration is blocked</comment>
                    <default>Customer registration is not allowed for this email address or customer name.</default>
                </field>
                
                <field id="internal_email_restricted_message" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Internal Email Restricted Message</label>
                    <comment>Internal message for email restriction validation</comment>
                    <default>Email address is restricted</default>
                </field>
                
                <field id="internal_name_restricted_message" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Internal Name Restricted Message</label>
                    <comment>Internal message for name restriction validation</comment>
                    <default>Customer name is restricted</default>
                </field>
            </group>
        </section>
    </system>
</config>
